.contentContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
}



.inheritItem {
    opacity: 0.5;
}

.actionsColumn {
    width: 100px;
}

td.actionsColumn {
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

tr:hover td.actionsColumn {
    opacity: 1;
}

.actionItem div {
    padding-right: 10px;
}

.flexContainer {
    display: flex;
    flex: 1;
}

.headerCommand {
    padding-left: 16px;
}