.header {
    display: flex;
    padding: 10px 0px;
    align-items: center;
    min-height: 40px;
}


.header .headerText {
    font-weight: 500;
    flex: 1;
    padding-left: 10px;
}

.header .headerCommands {
    padding-right: 10px;
}