.app {
  margin: 10px;
}

.app-logo {
  height: 80px;
  pointer-events: none;
}

.app-content {
  padding: 0px 10px;
  display: flex;
  flex-direction: row;
}



.verticalDivider {
  width: 16px;
}

th {
  background-color: rgba(0, 0, 0, 0.03)
}

.warnLabel {
  font-size: 12px;
  font-weight: 500;
  color: #ffb100;
}

.dialog-container {
  min-width: 500px;
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-grow{
  flex:1;
}