.app {
  margin: 10px;
}

.app-logo {
  height: 80px;
  pointer-events: none;
}

.app-content {
  padding: 0px 10px;
  display: flex;
  flex-direction: row;
}

.header {
  display: flex;
  padding: 10px 0px;
  align-items: center;
  min-height: 40px;
}


.headerText {
  font-weight: 500;
  flex: 1;
  padding-left: 10px;
}

.headerCommands {
  padding-right: 10px;
}

.verticalDivider {
  width: 16px;
}

th {
  background-color: rgba(0, 0, 0, 0.03)
}

.warnLabel {
  font-size: 12px;
  font-weight: 500;
  color: #ffb100;
}

.dialog-container {
  min-width: 500px;
  display: flex;
  flex-direction: column;
}